/* 색상 */
$white : #fff;
$black : #000;
$gray : #aaa;
$gray2 : #707070;
$point-sale: #ff4f0c;


/* 폰트 */
$weight-bold:700;
$weight-semibold:600;

$size-30:1.875rem;
$size-17:1.063rem;
$size-12:0.75rem;
$size-10:0.625rem;

/* mixin */
@mixin flex-row {
    display:flex; flex-flow:row nowrap;
    justify-content:flex-start;
    align-items:center;
}
@mixin img {
    width: 100%; height: 100%;
}
@mixin card-img {
    width: 137px; height: 184px;
}