@use './common.scss' as *;

#wrap {
    margin:13px auto;
    width: 880px;
    /* 공통 디자인 */
    .title {
        font-size:$size-17; font-weight: $weight-bold;
        margin-bottom:15px;
    }
    .card_list {
        display:flex;
        flex-flow:row nowrap;
        gap:12px;
        .product_card { display:flex; flex-flow:column nowrap;  width: 137px; overflow:hidden; 
            > a {width: 137px; height: 184px; margin-bottom:10px;
                > img {width: 100%; height: 100%;}
            }
            .product_contents { gap:0; line-height: 0.8;
                .product_top { display:flex; flex-flow:row nowrap; align-items: center; justify-content: space-between; height: 16px;
                    .brand_name {font-size:$size-10; font-weight: $weight-bold;margin-bottom:7px;}
                    .like_btn {
                        img {width: 10px; height: 10px; margin-bottom:7px;}
                    }
                }
                .product_name {font-size:$size-10; color:$gray2; width: max-content; margin-bottom:4px}
                a { height: fit-content; 
                    .product_sale {display:inline-block;font-size:$size-10; color:$point-sale; font-weight: $weight-bold; height: fit-content;padding:0; margin:0;}
                    .product_price { display:inline-block; font-size:$size-10; font-weight: $weight-bold;  height: fit-content; padding:0; margin:0;}
                }
            }
        }
    }

    .section1 {
        display:flex;
        flex-flow:row nowrap;
        gap:35px;
        justify-content: center;
        align-items: center;
        margin:13px auto 65px;
        .left {
            .img_box {
                position:relative;
                width: 412px; height: 412px;
                background-image: url('../images/001.png');
                background-size:cover;
                background-position:center;
                display:inline-block;
                .like2_btn {
                    position:absolute; right:3px; top:3px;
                    opacity:0.4;
                }
            }
        }
        .right { position:relative; height: 412px;
            display:flex; flex-flow:column nowrap; justify-content:flex-start;
            .text {position:absolute; top:0; left:0;
                h1 {font-size:$size-30; font-weight: $weight-semibold;}
                span {font-size:$size-12; color:$gray;}
            }
            .card_list { margin: auto 0 0 0;
            }
        }
    }
    .section2 {
        .title_more_g {position:relative;
            .title {display:inline-block;}
            a {
                .viewmore {
                    font-size:$size-10;
                    color:$gray;
                    display:inline-block;
                    position:absolute;
                    right:0;
                    top:20%;
                }
            }
        }
    }
}